.buscador__boton{
    
    background-color: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

@media screen and (min-width: 767px) {
    .buscador__boton{
        position: relative;
        left: -50px;
        background-color: transparent;
    }
}