.input__cliente{
    height: 56px;
    background: var(--blancopuro);
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
}
.input__cliente:focus{
    outline-color: var(--colorAzul);
}

.input__cliente::placeholder{
    font-family: 'Raleway';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
    transform: translateY(-16px);
    
}
.textarea{
    height: 82px;
}
.textarea::placeholder{
    transform: none;
}