.btn__inicoSesion{
    width: 109px;
    height: 40px;
    border: none;
    background: var(--colorAzul);

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--blancopuro);
    cursor: pointer;
}

@media screen and (min-width: 1068px) {
    .btn__inicoSesion{
        width: 100%;
        height: 62px;

        font-size: 18px;
        line-height: 21px;
    }
}