.form__inicioSesion{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

@media screen and (min-width: 1068px) {
    .form__inicioSesion{
        width: 423px;
    }
}