
.input__inicioSesion{
    width: 275px;
    height: 41px;
    background: var(--blancopuro);
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--tituloSeccion);
}
.input__inicioSesion{
    outline-color: var(--colorAzul);
}

.input__inicioSesion::placeholder{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;   
    color: var(--inputLogin);
}

@media screen and (min-width: 1068px) {
    .input__inicioSesion{
        width: 423px;
        height: 63.13px;
    }
}