:root{
    --relaway:'Raleway', sans-serif;
    --colorAzul:#2A7AE4;
    --buscador:#F5F5F5;
    --blancopuro:#FFFFFF;
    --blancoMarfil: #E5E5E5;
    --tituloSeccion:#464646;
    --azulRodapie: #EAF2FD;
    --inputLogin:#A2A2A2;

}